.HouseCard {
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
  line-height: 1;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    position: relative;

    .details {
      padding: 12px 16px 10px;
      background-color: rgba(0, 0, 0, 0.2);

      .btn-heart {
        background-color: transparent;
        float: right;
        margin-bottom: -30px;
        top: -25px;
        right: -8px;
        position: relative;
        color: #fff;

        &:hover {
          opacity: 0.7;
          transition: 0.3s ease;
        }

        &:focus {
          outline: none;
        }

        svg {
          font-size: 20px;
        }
      }

      .price {
        font-size: 24px;
        margin-bottom: 5px;
      }

      .info {
        font-size: 14px;
      }
    }
  }

  .content,
  .footer {
    background-color: #fff;
    color: #383f44;
    font-size: 12px;
  }

  .address {
    max-width: 110px;
    line-height: 110%;
  }

  .content {
    padding: 11px 0 14px;
    border-bottom: 1px solid rgba(74, 144, 226, 0.5);
    align-items: center;

    > [class*="col-"]:nth-child(1) {
      padding-left: 28px;
    }

    > [class*="col-"]:nth-child(2) {
      padding-right: 8px;
    }

    div {
      &:not(:last-of-type) {
        border-right: 1px solid rgba(74, 144, 226, 0.5);
      }

      span {
        display: block;
        color: #383f44;

        &:first-child {
          font-size: 12px;
          margin-bottom: 3px;
        }

        &:last-child {
          font-size: 22px;

          sup {
            font-size: 14px;
          }

          i {
            font-size: 12px;
            font-style: normal;
          }
        }
      }
    }
  }

  .footer {
    padding: 14px 16px;
    font-size: 14px;
    justify-content: space-between;

    .nh-rating {
      font-size: 12px;

      ul {
        margin-top: 5px !important;
      }

      svg {
        height: 11px !important;
        width: 11px !important;
      }
    }
  }
}
