.page {
  padding-bottom: 2em;
}

.page > .nav-tabs {
  .nav-item {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 3px;

    &.active {
      font-weight: 700;
      border-bottom: 0;
    }
  }
}

.main-page-tabs {
  .nav-item {
    color: #000;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  & + .tab-content {
    padding-top: 24px;
  }
}

.tab-pane > .row {
  margin-bottom: 25px;
}

.main-row {
  margin-bottom: 40px;
}
