.house-page {
  padding-bottom: 108px;

  @media (min-width: 992px) {
    position: relative;
    z-index: 1;
  }

  .main-row {
    margin-bottom: 44px;
  }

  & > .nav-tabs {
    .nav-item {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-bottom: 3px;

      &.active {
        font-weight: 700;
        border-bottom: 0;
      }
    }
  }
}

.main-page-tabs {
  .nav-item {
    color: #000;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  & + .tab-content {
    padding-top: 24px;
  }

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    .nav-item {
      line-height: 1;
    }
  }
}

@media (min-width: 768px) {
  .tab-pane > .row {
    margin-bottom: 16px;
  }
}
