.PurchaseControls {
  width: 100%;
  height: 100%;
  max-height: 306px;
  border-radius: 4px;
  background-color: #fff;
  padding: 31px 16px 25px;

  .title {
    color: #656d72;
    font-size: 18px;
    line-height: 1;
    justify-content: space-between;
    padding-left: 7px;

    > span {
      font-size: 20px;
      padding-right: 9px;
    }
  }

  .section {
    &:not(:last-of-type) {
      margin-bottom: 55px;
    }
  }

  .rc-slider {
    .rc-slider-rail {
      height: 2px;
      background-color: rgba(75, 145, 226, 0.5);
    }

    .rc-slider-track {
      background-color: transparent;
    }

    .rc-slider-handle {
      width: 16px;
      height: 16px;
      margin-top: -7px;
    }
  }

  .nav-tabs {
    border-bottom: 0;
    border-top: 1px solid rgba(74, 144, 226, 0.5);

    .nav-item.active {
      border-bottom: 0;
      border-top: 4px solid #66ccff;
    }
  }

  .row > div:first-of-type {
    padding-right: 24px;
  }

  .row > div:last-of-type {
    padding-left: 24px;
  }
}
