.PurchaseControls {
  min-height: 304px;
  padding: 31px 16px 25px;

  .title {
    color: #656d72;
    font-size: 18px;
    line-height: 1;
    justify-content: space-between;
    padding-left: 7px;

    > span {
      font-size: 20px;
      padding-right: 9px;
    }
  }

  .section {
    &:not(:last-of-type) {
      margin-bottom: 55px;
    }
  }

  .row > div:first-of-type {
    padding-right: 24px;
  }

  .row > div:last-of-type {
    padding-left: 24px;
  }
}
