.SellingCard {
  border-radius: 5px;
  background-color: #fff;
  padding: 19px 16px;
  width: 100%;
  color: #373a3c;

  .header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;
    line-height: 110%;

    span {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1;
    }

    a {
      font-size: 20px;
    }
  }

  .type {
    font-size: 16px;
  }

  .price-and-links {
    margin: 6px 0 8px;
    justify-content: space-between;

    .price {
      font-size: 48px;
      line-height: 100%;
      font-weight: 200;
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: -22px;

      a {
        font-size: 16px;
      }
    }
  }

  .list-price {
    font-size: 20px;
    margin-bottom: 20px;
  }

  input {
    font-size: 40px;
    font-weight: 200;
    width: 100%;
    max-width: 271px;
    height: 56px;
    border: 1px solid #c0c8ce;
    border-radius: 4px;
    padding-left: 16px;
  }

  .controls {
    padding-top: 16px;

    button {
      color: #fff;
      font-size: 16px;
      width: 151px;
      height: 32px;
      border-radius: 3px;
    }
  }

  .controls button:first-of-type {
    background-color: #ff9900;
    text-transform: uppercase;
  }

  .controls button:last-of-type {
    color: #3a9fd1;
    background-color: transparent;
  }

  .btn-primary {
    box-shadow: none;
  }
}
