body {
  background-color: #dfedfb;
}

button {
  border: 0;
}

a {
  color: #3a9fd1;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.page {
  margin-top: -120px;
}

.nav-tabs {
  border-color: rgba(74, 144, 226, 0.5);

  .nav-item {
    color: #3a9fd1;
    padding: 0 8px;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;

    &:hover {
      border: 0;
    }

    &.active {
      color: #383f44;
      border: 0;
      border-bottom: 4px solid #66ccff;
    }
  }

  &.upper-border {
    .nav-item.active {
      line-height: 150%;
    }
  }
}

.nav-tabs.upper-border {
  border-bottom: 0;
  border-top: 1px solid rgba(74, 144, 226, 0.5);

  .nav-item.active {
    border-bottom: 0;
    border-top: 4px solid #66ccff;
  }
}

.card-title {
  font-size: 24px;
  font-weight: 300;
  color: #656d72;
  text-transform: uppercase;
  text-align: left;
}

.card-box {
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.05);
}

.btn-blue {
  background-color: #66ccff;
  color: #fff;
  border-radius: 2px;
  padding: 4px 16px;
}

.rc-slider {
  .rc-slider-rail {
    height: 2px;
    background-color: rgba(75, 145, 226, 0.5);
  }

  .rc-slider-track {
    background-color: transparent;
  }

  .rc-slider-handle {
    width: 16px;
    height: 16px;
    margin-top: -7px;
  }
}

.price-large {
  font-weight: 200;
  color: #373a3c;
  font-size: 48px;
  line-height: 100%;
}
